body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid blue;
}

ol {
	padding-left: 0;
}

.buttonz{
	font-size: x-large;
	background-color: rgb(246, 246, 16);
	border-color: rgb(59, 91, 208);
	box-shadow: 2px, 2px, 2px;

}


.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: rgb(81, 5, 202);
	font-size: x-large;
}


input {
	display: block;
}

img {
	max-width: 300px;
}